/*Styles for katzhembrovska.com*/


body{
	margin:auto;
	max-width: 1178px;
	background-color: white;
	
}

header{
	margin: auto;
	background-color: white;
	display: flex;   
    flex-wrap: wrap;
	justify-content: space-around;
	align-items: flex-end;
}

header a{
	position: center;
	width:100%;
	display: inline-block;
	font-family: 'Raleway', sans-serif;
	color: #524C7E;
	text-decoration: none; 
}

header a:hover{
	color:#AF6CA2;
}


.top a{
	text-transform: uppercase;
	letter-spacing:.1em;
}


.menu ul{
	font-family: 'Raleway', sans-serif; 
	text-transform: lowercase;
	letter-spacing: .1em;
	color: #524C7E;
	text-decoration: none;
}

.ul li{
	text-decoration: none;
	position: right;
	color: #707070;
}

li{
	text-decoration:none;
	list-style-type: none;
	text-align: justify;
	display: inline-block;
	padding-right: 1em;
}

footer{
	margin: auto;
	display: flex;   
    flex-wrap: wrap;
    flex-direction: column;
    align: center;
}


.foota{
	justify-content: center;
    margin:auto;
    max-width: 1178px;
}

.foot{
	justify-content: center;
    margin:auto;
    max-width: 1178px;
}


footer a{
 	max-width:100%;
	text-decoration: none;
	background-color: white;
}

footer img{
	width: 30px;
	height: 30px;
 	position: relative;
 	padding-left: 10px;
 	overflow: hidden;
 	padding-right: 10px;
	padding-top:10px;
	padding-bottom: 20px;
	display:inline;
}

.proj{
	display: flex;
  	align-items: center;
  	justify-content: center; 
  	flex-wrap: wrap;
	position:center;
	align-content: center;
}

.proj img{
	width: 352px;
	height: 335px;
 	position: relative;
 	left: 30px;
 	overflow: hidden;
 	padding-left:35 px;
 	padding-right: 35px;
	padding-top:23px;
	padding-bottom: 23px;
	align-content: center;
}

.boards{
	margin:auto;
	position: center;
	display: flex;   
    flex-wrap: wrap;
	justify-content: space-around;
}

.boards img{
	max-width:75%;
	max-height: auto;
	display:flex;
	justtify-content: center;
	align-items: center;
}

.ex{
	display: flex;
  	align-items: center;
  	justify-content: center; 
  	flex-wrap: wrap;
}

.ex img{
	width: 352px;
	height: auto /*  335px */;
 	position: relative;
 	left: 30px;
 	padding-left:35 px;
 	padding-right: 35px;
	padding-top:23px;
	padding-bottom: 23px;
}

.about{
	margin: auto;	
	display: flex;   
    flex-wrap: wrap;
    flex-direction: row;
    align: center;
    align-items: flex-end;
}

.me{
  	max-width:100%;
  	max-width:400px;
  	margin: auto;	
	display: flex;   
    flex-wrap: wrap;
    flex-direction: row;
    align: center;
    align-items: flex-end;
    padding-bottom: 6em;
}

.me img{
	max-width:100%;
	height: auto;
	margin:auto;
 	position: relative;
 }


.me p{
	font-family: 'Hind Siliguri', sans-serif;
}

.contact{
	/* position:relative; */
	margin:auto;
	font-family: 'Hind Siliguri', sans-serif;
	display: flex;
  	align-items: center;
  	justify-content: center; 
  	flex-wrap: wrap;
    flex-direction: row;
  	padding-bottom: 5em;
  	padding-top: 5em;
  	max-width:400px;
}

.contact img{
	max-width: 100%;
}
